# This rule is not used by the project mariadb-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the mariadb.openstack.org.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: mariadb-operator
    app.kubernetes.io/managed-by: kustomize
  name: galerabackup-editor-role
rules:
- apiGroups:
  - mariadb.openstack.org
  resources:
  - galerabackups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mariadb.openstack.org
  resources:
  - galerabackups/status
  verbs:
  - get
