apiVersion: mariadb.openstack.org/v1beta1
kind: Galera
metadata:
  name: openstack
spec:
  secret: osp-secret
  storageClass: local-storage
  storageRequest: 500M
  replicas: 3
  tls:
    secretName: galera-tls
    caBundleSecretName: galera-tls
